server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
springdoc:
  swagger-ui:
    path: /swagger-ui.html

build:
  version: "1.0"

accounts:
  message: "Welcome to the Test bank services for accounts"
  contactDetails:
    name: "Sabyasachi Dash"
    email: "dashsabya66@gmail.com"
  OnCallSupport:
    - 050-110022
    - 050-124345